extends ../shared/layout

block title
    title(class="text-center")
        |Problema tanges de agua
block content
    h1(class="text-center")
        |Problema tanques de agua
    for e in grafo
        div()
            p (#{e.x} , #{e.y})
            for hijo in e.hijos
                span (#{hijo.x}, #{hijo.y})
