extends ../shared/layout

block title
    title Problema tanges de agua
block content
    h1 esto es una prueba de layout
    for e in grafo
        div(style="float:left")
            p (#{e.x} , #{e.y})
            for hijo in e.hijos
                span (#{hijo.x}, #{hijo.y})
